@page
@model SafariSoul.Pages.EducationProgramCustomer.IndexModel

@{
    ViewData["Title"] = "Education Programs";
    Layout = "_LayoutCustomer";
}

<h1>Education Programs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationProgram[0].ProgramName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EducationProgram) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ProgramNo">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
