@page
@model SafariSoul.Pages.ZooTransactionCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<head>
    <style>
        .form-group + .form-group {
            margin-top: 20px;
        }
    </style>
</head>

<h4>Create Zoo Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZooTransaction.TransactionId" class="control-label">Transaction ID</label>
                <input asp-for="ZooTransaction.TransactionId" class="form-control" />
                <span asp-validation-for="ZooTransaction.TransactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooTransaction.DateAndTime" class="control-label">Date and Time</label>
                <input asp-for="ZooTransaction.DateAndTime" class="form-control" />
                <span asp-validation-for="ZooTransaction.DateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooTransaction.Customer" class="control-label"></label>
                <select asp-for="ZooTransaction.Customer" class ="form-control" asp-items="ViewBag.Customer"></select>
            </div>
            <div class="form-group">
                <label asp-for="ZooTransaction.SellerId" class="control-label">Seller ID</label>
                <select asp-for="ZooTransaction.SellerId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ZooTransaction.Location" class="control-label"></label>
                <input asp-for="ZooTransaction.Location" class="form-control" />
                <span asp-validation-for="ZooTransaction.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooTransaction.Discount" class="control-label"></label>
                <select asp-for="ZooTransaction.Discount" class ="form-control" asp-items="ViewBag.Discount"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
