@page
@model SafariSoul.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="login form">
            <header>Login</header>
            <form method="post">
                <input type="text" placeholder="Enter your email" name="Username">
                <input type="password" placeholder="Enter your password" name="pass">
                <a href="#">Forgot password?</a>
                <input type="submit" class="button" value="Login">
            </form>
            <div class="signup">
                <span class="signup">
                    Don't have an account?Name: @HttpContext.Session.GetString("_Name")
                    <label for="check">Signup</label>
                </span>
            </div>
        </div>
    </div>
</body>
</html>