@page
@model SafariSoul.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="login form">
            <header>Login</header>
            <form method="post">
                <input type="text" id="LoginEmail" name="LoginEmail" placeholder="Enter your email" required>
                <input type="password" id="LoginPassword" name="LoginPassword" placeholder="Enter your password" required>
                <a href="#">Forgot password?</a>
                <input type="submit" class="button" value="Login">
            </form>
            <div class="signup">
                <span class="signup">
                    Don't have an account?
                    <a href="~/Login/Signup">Signup</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>