<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SafariSoul</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SafariSoul.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">SafariSoul</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Data Entry Forms
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AnimalCareProgramCRUD/Create">Animal Care Program</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/AnimalCRUD/Create">Animal</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/CustomerCRUD/Create">Customer</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/DepartmentCRUD/Create">Department</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/DependentCRUD/Create">Dependent</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/DisountCRUD/Create">Discount</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/DonationCRUD/Create">Donation</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/EducationProgramCRUD/Create">Education Program</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/EmployeeCRUD/Create">Employee</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/EmployeeShiftCRUD/Create">Employee Shift</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/ExhibitCRUD/Create">Exhibit</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/ExpenseCRUD/Create">Expense</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/InventoryCRUD/Create">Inventory</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/LocationCRUD/Create">Location</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/MaintenanceRequestCRUD/Create">Maintenance Request</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/MembershipCRUD/Create">Membership</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/OccupationCRUD/Create">Occupation</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/RoomCRUD/Create">Room</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/SpeciesCRUD/Create">Species</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/VendorCRUD/Create">Vendor</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/VeterinaryVisitCRUD/Create">Veterinary Visit</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/ZooEventCRUD/Create">Zoo Event</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/ZooTransactionCRUD/Create">Zoo Transaction</a>
                        <a class="nav-link text-dark" asp-area="" asp-page="/ZooUserCRUD/Create">Zoo User</a>
                    </div>
                </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Indexes
                        </a>
                        <div class ="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AnimalCareProgramCRUD/Index">Animal Care Program</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/AnimalCRUD/Index">Animal</a><a class="nav-link text-dark" asp-area="" asp-page="/CustomerCRUD/Create">Customer</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/DepartmentCRUD/Index">Department</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/DependentCRUD/Index">Dependent</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/DisountCRUD/Index">Discount</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/DonationCRUD/Index">Donation</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/EducationProgramCRUD/Index">Education Program</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/EmployeeCRUD/Index">Employee</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/EmployeeShiftCRUD/Index">Employee Shift</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/ExpenseCRUD/Index">Expense</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/ExhibitCRUD/Index">Exhibit</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/InventoryCRUD/Index">Inventory</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/LocationCRUD/Index">Location</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/MaintenanceRequestCRUD/Index">Maintenance Request</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/MembershipCRUD/Index">Membership</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/OccupationCRUD/Index">Occupation</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/RoomCRUD/Index">Room</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/SpeciesCRUD/Index">Species</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/VendorCRUD/Index">Vendor</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/VeterinaryVisitCRUD/Index">Veterinary Visit</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/ZooEventCRUD/Index">Zoo Event</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/ZooTransactionCRUD/Index">Zoo Transaction</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/ZooUserCRUD/Index">Zoo User</a>
                        </div>
                    </li>
                    </ul>
               </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SafariSoul 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>