<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Safari Soul - Zoo & Safari Park Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/favicon.png" rel="icon" asp-append-version="true">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" asp-append-version="true">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" asp-append-version="true">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-4 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand p-0">
            <img class="img-fluid me-3" src="~/favicon.png" alt="Icon" asp-append-version="true">
            <h1 class="m-0 text-primary">Safari Soul</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse py-4 py-lg-0" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="index.html" class="nav-item nav-link">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Data Entry Forms</a>
                    <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                        <a asp-area="" asp-page="/DataForms/AnimalCareProgramCRUD/Create" class="dropdown-item">Animal Care Program</a>
                        <a asp-area="" asp-page="/DataForms/AnimalCRUD/Create" class="dropdown-item">Animal</a>
                        <a asp-area="" asp-page="/DataForms/CustomerCRUD/Create" class="dropdown-item">Customer</a>
                        <a asp-area="" asp-page="/DataForms/DepartmentCRUD/Create" class="dropdown-item">Department</a>
                        <a asp-area="" asp-page="/DataForms/DependentCRUD/Create" class="dropdown-item">Dependent</a>
                        <a asp-area="" asp-page="/DataForms/DisountCRUD/Create" class="dropdown-item">Discount</a>
                        <a asp-area="" asp-page="/DataForms/DonationCRUD/Create" class="dropdown-item">Donation</a>
                        <a asp-area="" asp-page="/DataForms/EducationProgramCRUD/Create" class="dropdown-item">Education Program</a>
                        <a asp-area="" asp-page="/DataForms/EmployeeCRUD/Create" class="dropdown-item">Employee</a>
                        <a asp-area="" asp-page="/DataForms/EmployeeShiftCRUD/Create" class="dropdown-item">Employee Shift</a>
                        <a asp-area="" asp-page="/DataForms/ExhibitCRUD/Create" class="dropdown-item">Exhibit</a>
                        <a asp-area="" asp-page="/DataForms/ExpenseCRUD/Create" class="dropdown-item">Expense</a>
                        <a asp-area="" asp-page="/DataForms/InventoryCRUD/Create" class="dropdown-item">Inventory</a>
                        <a asp-area="" asp-page="/DataForms/LocationCRUD/Create" class="dropdown-item">Location</a>
                        <a asp-area="" asp-page="/DataForms/MaintenanceRequestCRUD/Create" class="dropdown-item">Maintenance Request</a>
                        <a asp-area="" asp-page="/DataForms/MembershipCRUD/Create" class="dropdown-item">Membership</a>
                        <a asp-area="" asp-page="/DataForms/OccupationCRUD/Create" class="dropdown-item">Occupation</a>
                        <a asp-area="" asp-page="/DataForms/SpeciesCRUD/Create" class="dropdown-item">Species</a>
                        <a asp-area="" asp-page="/DataForms/VendorCRUD/Create" class="dropdown-item">Vendor</a>
                        <a asp-area="" asp-page="/DataForms/VeterinaryVisitCRUD/Create" class="dropdown-item">Veterinary Visit</a>
                        <a asp-area="" asp-page="/DataForms/ZooEventCRUD/Create" class="dropdown-item">Zoo Event</a>
                        <a asp-area="" asp-page="/DataForms/ZooTransactionCRUD/Create" class="dropdown-item">Zoo Transaction</a>
                        <a asp-area="" asp-page="/DataForms/ZooUserCRUD/Create" class="dropdown-item">Zoo User</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Indexes</a>
                    <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                        <a asp-area="" asp-page="/DataForms/AnimalCareProgramCRUD/Index" class="dropdown-item">Animal Care Program</a>
                        <a asp-area="" asp-page="/DataForms/AnimalCRUD/Index" class="dropdown-item">Animal</a>
                        <a asp-area="" asp-page="/DataForms/CustomerCRUD/Index" class="dropdown-item">Customer</a>
                        <a asp-area="" asp-page="/DataForms/DepartmentCRUD/Index" class="dropdown-item">Department</a>
                        <a asp-area="" asp-page="/DataForms/DependentCRUD/Index" class="dropdown-item">Dependent</a>
                        <a asp-area="" asp-page="/DataForms/DisountCRUD/Index" class="dropdown-item">Discount</a>
                        <a asp-area="" asp-page="/DataForms/DonationCRUD/Index" class="dropdown-item">Donation</a>
                        <a asp-area="" asp-page="/DataForms/EducationProgramCRUD/Index" class="dropdown-item">Education Program</a>
                        <a asp-area="" asp-page="/DataForms/EmployeeCRUD/Index" class="dropdown-item">Employee</a>
                        <a asp-area="" asp-page="/DataForms/EmployeeShiftCRUD/Index" class="dropdown-item">Employee Shift</a>
                        <a asp-area="" asp-page="/DataForms/ExhibitCRUD/Index" class="dropdown-item">Exhibit</a>
                        <a asp-area="" asp-page="/DataForms/ExpenseCRUD/Index" class="dropdown-item">Expense</a>
                        <a asp-area="" asp-page="/DataForms/InventoryCRUD/Index" class="dropdown-item">Inventory</a>
                        <a asp-area="" asp-page="/DataForms/LocationCRUD/Index" class="dropdown-item">Location</a>
                        <a asp-area="" asp-page="/DataForms/MaintenanceRequestCRUD/Index" class="dropdown-item">Maintenance Request</a>
                        <a asp-area="" asp-page="/DataForms/MembershipCRUD/Index" class="dropdown-item">Membership</a>
                        <a asp-area="" asp-page="/DataForms/OccupationCRUD/Index" class="dropdown-item">Occupation</a>
                        <a asp-area="" asp-page="/DataForms/SpeciesCRUD/Index" class="dropdown-item">Species</a>
                        <a asp-area="" asp-page="/DataForms/VendorCRUD/Index" class="dropdown-item">Vendor</a>
                        <a asp-area="" asp-page="/DataForms/VeterinaryVisitCRUD/Index" class="dropdown-item">Veterinary Visit</a>
                        <a asp-area="" asp-page="/DataForms/ZooEventCRUD/Index" class="dropdown-item">Zoo Event</a>
                        <a asp-area="" asp-page="/DataForms/ZooTransactionCRUD/Index" class="dropdown-item">Zoo Transaction</a>
                        <a asp-area="" asp-page="/DataForms/ZooUserCRUD/Index" class="dropdown-item">Zoo User</a>
                    </div>
                </div>
            </div>
            <a asp-area="" asp-page="/DefaultPage" class="btn btn-primary">Log Out<i class="fas fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js" asp-append-version="true"></script>
    <script src="~/lib/easing/easing.min.js" asp-append-version="true"></script>
    <script src="~/lib/waypoints/waypoints.min.js" asp-append-version="true"></script>
    <script src="~/lib/counterup/counterup.min.js" asp-append-version="true"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js" asp-append-version="true"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
