@page
@model SafariSoul.Pages.SpeciesCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<head>
    <style>
        .form-group + .form-group {
            margin-top: 20px;
        }
    </style>
</head>

<h4>Edit Species</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Species.SpeciesId" />
            <div class="form-group">
                <label asp-for="Species.Kingdom" class="control-label"></label>
                <input asp-for="Species.Kingdom" class="form-control" />
                <span asp-validation-for="Species.Kingdom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.Phylum" class="control-label"></label>
                <input asp-for="Species.Phylum" class="form-control" />
                <span asp-validation-for="Species.Phylum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.Class" class="control-label"></label>
                <input asp-for="Species.Class" class="form-control" />
                <span asp-validation-for="Species.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.Order" class="control-label"></label>
                <input asp-for="Species.Order" class="form-control" />
                <span asp-validation-for="Species.Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.Family" class="control-label"></label>
                <input asp-for="Species.Family" class="form-control" />
                <span asp-validation-for="Species.Family" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.Genus" class="control-label"></label>
                <input asp-for="Species.Genus" class="form-control" />
                <span asp-validation-for="Species.Genus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.Species1" class="control-label">Species</label>
                <input asp-for="Species.Species1" class="form-control" />
                <span asp-validation-for="Species.Species1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.CommonName" class="control-label">Common Name</label>
                <input asp-for="Species.CommonName" class="form-control" />
                <span asp-validation-for="Species.CommonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.ExhibitId" class="control-label">Exhibit</label>
                <select asp-for="Species.ExhibitId" class="form-control" asp-items="ViewBag.ExhibitId">
                    <option value="">-- Select Exhibit --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Species.LifeExpectancy" class="control-label">Life Expectancy</label>
                <input asp-for="Species.LifeExpectancy" class="form-control" />
                <span asp-validation-for="Species.LifeExpectancy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.NormalBodyTemperature" class="control-label">Normal Body Temperature (°F)</label>
                <input asp-for="Species.NormalBodyTemperature" class="form-control" />
                <span asp-validation-for="Species.NormalBodyTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.RegionsFound" class="control-label">Regions Found</label>
                <input asp-for="Species.RegionsFound" class="form-control" />
                <span asp-validation-for="Species.RegionsFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.Diet" class="control-label"></label>
                <input asp-for="Species.Diet" class="form-control" />
                <span asp-validation-for="Species.Diet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.Humidity" class="control-label">Humidity (%)</label>
                <input asp-for="Species.Humidity" class="form-control" />
                <span asp-validation-for="Species.Humidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.ActiveHours" class="control-label">Active Hours</label>
                <select asp-for="Species.ActiveHours" class="form-control">
                    <option value="">-- Select Active Hours --</option>
                    <option value="Nocturnal">Nocturnal</option>
                    <option value="Diurnal">Diurnal</option>
                    <option value="Any Time">Any Time</option>
                </select>
                <span asp-validation-for="Species.ActiveHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species.ConservationStatus" class="control-label">Conservation Status</label>
                <select asp-for="Species.ConservationStatus" class="form-control">
                    <option value="">-- Select Conservation Status --</option>
                    <option value="DD">DD</option>
                    <option value="LC">LC</option>
                    <option value="NT">NT</option>
                    <option value="VU">VU</option>
                    <option value="EN">EN</option>
                    <option value="CR">CR</option>
                    <option value="EW">EW</option>
                    <option value="EX">EX</option>
                </select>
                <span asp-validation-for="Species.ConservationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
