@page
@model SafariSoul.Pages.Data_Entry_Forms.AnimalData
@{
}

<head>
    <style>
        .form-group + .form-group {
            margin-top: 20px;
        }
    </style>
</head>

<form method="post">
    <div class="form-group">
        <label for="Animal_Name">Animal Name:</label>
        <input type="text" class="form-control" id="Animal_Name" name="Animal_Name" maxlength="30" required>
    </div>
    <div class="form-group">
        <label for="Genus">Genus:</label>
        <input type="text" class="form-control" id="Genus" name="Genus" maxlength="30" required>
    </div>
    <div class="form-group">
        <label for="Species">Species:</label>
        <input type="text" class="form-control" id="Species" name="Species" maxlength="30" required>
    </div>
    <div class="form-group">
        <label for="Unique_Descriptors">Unique Descriptors:</label>
        <textarea class="form-control" id="Unique_Descriptors" name="Unique_Descriptors"></textarea>
    </div>
    <div class="form-group">
        <label for="Date_Of_Birth">Date of Birth:</label>
        <input type="date" class="form-control" id="Date_Of_Birth" name="Date_Of_Birth" required>
    </div>
    <div class="form-group">
        <label for="Gender">Gender:</label>
        <select class="form-control" id="Gender" name="Gender" required>
            <option value="m">Male</option>
            <option value="f">Female</option>
        </select>
    </div>
    <div class="form-group">
        <label for="DietaryRestrictions">Dietary Restrictions:</label>
        <textarea class="form-control" id="DietaryRestrictions" name="DietaryRestrictions"></textarea>
    </div>
    <div class="form-group">
        <label for="Recreation">Recreation:</label>
        <textarea class="form-control" id="Recreation" name="Recreation"></textarea>
    </div>
    <div style="height: 20px;"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>