@page
@model SafariSoul.Pages.ZooUserCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<head>
    <style>
        .form-group + .form-group {
            margin-top: 20px;
        }
    </style>
</head>

<h4>Edit Zoo User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZooUser.UserName" class="control-label"></label>
                <input asp-for="ZooUser.UserName" class="form-control" />
                <span asp-validation-for="ZooUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooUser.AuthenticationKey" class="control-label"></label>
                <input asp-for="ZooUser.AuthenticationKey" class="form-control" />
                <span asp-validation-for="ZooUser.AuthenticationKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooUser.UserType" class="control-label"></label>
                <input asp-for="ZooUser.UserType" class="form-control" />
                <span asp-validation-for="ZooUser.UserType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooUser.EmployeeId" class="control-label"></label>
                <select asp-for="ZooUser.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId">
                    <option value="">-- Select Employee --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ZooUser.CustomerId" class="control-label"></label>
                <select asp-for="ZooUser.CustomerId" class="form-control" asp-items="ViewBag.CustomerId">
                    <option value="">-- Select Customer --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
