@page
@model SafariSoul.Pages.LocationCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Location.LocationNum" />
            <div class="form-group">
                <label asp-for="Location.LocationName" class="control-label"></label>
                <input asp-for="Location.LocationName" class="form-control" />
                <span asp-validation-for="Location.LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.MaxCapacity" class="control-label"></label>
                <input asp-for="Location.MaxCapacity" class="form-control" />
                <span asp-validation-for="Location.MaxCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.OpeningTime" class="control-label"></label>
                <input asp-for="Location.OpeningTime" class="form-control" />
                <span asp-validation-for="Location.OpeningTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.ClosingTime" class="control-label"></label>
                <input asp-for="Location.ClosingTime" class="form-control" />
                <span asp-validation-for="Location.ClosingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
