@page
@model SafariSoul.Pages.ZooEventCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<head>
    <style>
        .form-group + .form-group {
            margin-top: 20px;
        }
    </style>
</head>

<h4>Edit Zoo Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input type="hidden" asp-for="ZooEvent.EventId" />
            <div class="form-group">
                <label asp-for="ZooEvent.EventName" class="control-label">Event Name</label>
                <input asp-for="ZooEvent.EventName" class="form-control" />
                <span asp-validation-for="ZooEvent.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooEvent.Capacity" class="control-label"></label>
                <input asp-for="ZooEvent.Capacity" class="form-control" />
                <span asp-validation-for="ZooEvent.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooEvent.EventTime" class="control-label">Event Time</label>
                <input asp-for="ZooEvent.EventTime" class="form-control" />
                <span asp-validation-for="ZooEvent.EventTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooEvent.AdmissionPrice" class="control-label">Admission Price</label>
                <input asp-for="ZooEvent.AdmissionPrice" class="form-control" />
                <span asp-validation-for="ZooEvent.AdmissionPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooEvent.RegistrationDeadline" class="control-label">Registration Deadline</label>
                <input asp-for="ZooEvent.RegistrationDeadline" class="form-control" />
                <span asp-validation-for="ZooEvent.RegistrationDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZooEvent.AnimalProgramId" class="control-label">Animal Program</label>
                <select asp-for="ZooEvent.AnimalProgramId" class="form-control" asp-items="ViewBag.AnimalProgramId">
                    <option value="">-- Select Animal Program --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ZooEvent.EducationalProgramId" class="control-label">Education Program</label>
                <select asp-for="ZooEvent.EducationalProgramId" class="form-control" asp-items="ViewBag.EducationalProgramId">
                    <option value="">-- Select Educational Program --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ZooEvent.EventLocationId" class="control-label">Event Location</label>
                <select asp-for="ZooEvent.EventLocationId" class="form-control" asp-items="ViewBag.EventLocationId">
                    <option value="">-- Select Location --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
