@page
@{
    ViewData["Title"] = "Animals";
    Layout = "~/Pages/Shared/_LayoutCustomer.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid header-bg py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 text-white mb-3 animated slideInDown">Our Animals</h1>
    </div>
</div>
<!-- Page Header End -->
<!-- Animal Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-5 align-items-end wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <p><span class="text-primary me-2">#</span>Our Animals</p>
                <h1 class="display-5 mb-0">Let`s See Our <span class="text-primary">Safari Soul</span> Animals</h1>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4">
                    <div class="col-12">
                        <a class="animal-item" href="~/img/animal-md-1.jpg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/animal-md-1.jpg" alt="">
                                <div class="animal-text p-4">
                                    <p class="text-white small text-uppercase mb-0">Animal</p>
                                    <h5 class="text-white mb-0">Deer</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="animal-item" href="~/img/animal-lg-1.jpg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/animal-lg-1.jpg" alt="">
                                <div class="animal-text p-4">
                                    <p class="text-white small text-uppercase mb-0">Animal</p>
                                    <h5 class="text-white mb-0">Lemur</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row g-4">
                    <div class="col-12">
                        <a class="animal-item" href="~/img/animal-lg-2.jpg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/animal-lg-2.jpg" alt="">
                                <div class="animal-text p-4">
                                    <p class="text-white small text-uppercase mb-0">Animal</p>
                                    <h5 class="text-white mb-0">Cat</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="animal-item" href="~/img/animal-md-2.jpg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/animal-md-2.jpg" alt="">
                                <div class="animal-text p-4">
                                    <p class="text-white small text-uppercase mb-0">Animal</p>
                                    <h5 class="text-white mb-0">Zebra</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-4">
                    <div class="col-12">
                        <a class="animal-item" href="~/img/animal-md-3.jpg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/animal-md-3.jpg" alt="">
                                <div class="animal-text p-4">
                                    <p class="text-white small text-uppercase mb-0">Animal</p>
                                    <h5 class="text-white mb-0">Elephant</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="animal-item" href="~/img/animal-lg-3.jpg" data-lightbox="animal">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/animal-lg-3.jpg" alt="">
                                <div class="animal-text p-4">
                                    <p class="text-white small text-uppercase mb-0">Animal</p>
                                    <h5 class="text-white mb-0">Giraffe</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Animal End -->