@page
@{
    ViewData["Title"] = "Success";
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<html>
<head>
	<title>Payment Successful</title>
	<style>
		h1 {
			font-size: 3em;
			text-align: center;
			margin-top: 50px;
		}

		button {
			display: block;
			margin: 50px auto;
			padding: 10px 20px;
			font-size: 1.2em;
			background-color: #2EB872;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
	</style>
</head>
<body>
	<h1>Payment Successful!</h1>
	<button onclick="window.location.href='@Url.Page("/CustomerPages/CustomerHome")';">Return to Home</button>
</body>
</html>