@page
@model SafariSoul.Pages.EducationProgramCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EducationProgram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EducationProgram.ProgramNo" />
            <div class="form-group">
                <label asp-for="EducationProgram.ProgramName" class="control-label"></label>
                <input asp-for="EducationProgram.ProgramName" class="form-control" />
                <span asp-validation-for="EducationProgram.ProgramName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationProgram.ProgramDescription" class="control-label"></label>
                <input asp-for="EducationProgram.ProgramDescription" class="form-control" />
                <span asp-validation-for="EducationProgram.ProgramDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationProgram.RequiredInventory" class="control-label"></label>
                <input asp-for="EducationProgram.RequiredInventory" class="form-control" />
                <span asp-validation-for="EducationProgram.RequiredInventory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationProgram.Feedback" class="control-label"></label>
                <input asp-for="EducationProgram.Feedback" class="form-control" />
                <span asp-validation-for="EducationProgram.Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
