@page
@model SafariSoul.Pages.EmployeeShiftCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_NewLayout.cshtml";
}

<head>
    <style>
        .form-group + .form-group {
            margin-top: 20px;
        }
    </style>
</head>

<h4>Edit Employee Shift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeShift.ShiftStart" class="control-label"></label>
                <input asp-for="EmployeeShift.ShiftStart" class="form-control" />
                <span asp-validation-for="EmployeeShift.ShiftStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeShift.ShiftEnd" class="control-label"></label>
                <input asp-for="EmployeeShift.ShiftEnd" class="form-control" />
                <span asp-validation-for="EmployeeShift.ShiftEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeShift.LunchStart" class="control-label"></label>
                <input asp-for="EmployeeShift.LunchStart" class="form-control" />
                <span asp-validation-for="EmployeeShift.LunchStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeShift.LunchEnd" class="control-label"></label>
                <input asp-for="EmployeeShift.LunchEnd" class="form-control" />
                <span asp-validation-for="EmployeeShift.LunchEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
